<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div id="app"> loading ... </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
